﻿@{
    ViewBag.Title = "Оружие";
}

<div class="row s-mb_18">
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Добавление оружия
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/newWhepons.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label><i class="fa fa-home s-mr_5"></i>Название оружия</label>
                                    <input name="name" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <label>Фото</label>
                                    <input name="image" type="file" class="form-control s-mb_18" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Редактирование оружия
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/editWhepons.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label><i class="fa fa-home s-mr_5"></i>Выберите оружие</label>
                                    <select data-bind="options: items, optionsText: 'name', value: selectedItem" class="form-control"></select>
                                    <input data-bind="value:selectedItem().id" name="edit-id" type="hidden" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label>Название оружия</label>
                                    <input data-bind="value:selectedItem().name" name="edit-name" class="form-control" type="text" />
                                </div>
                            </div>
                            <div class="row s-mb_9">
                                <div class="col-md-12">
                                    <label>Фото</label>
                                    <input name="edit-image" type="file" class="form-control s-mb_18" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script type="text/javascript" src="~/Content/js/models/editModel.js"></script>
    <script type="text/javascript">
        EC.getData("whepons", "all");
    </script>
}
