﻿@{
    ViewBag.Title = "Новости";
}

<div class="row s-mb_18">

    <div class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-plus"></i> Новая запись
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/newBlog.php">
                    <div class="form-body">
                        <div class="form-group">
                            <label>Название</label>
                            <div class="input-icon s-mb_9">
                                <i class="fa fa-info-circle"></i>
                                <input name="name" type="text" class="form-control" placeholder="Название" />
                            </div>
                            <label>Описание краткое</label>
                            <textarea name="description" class="form-control s-mb_9"></textarea>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Дата</label>
                                    <input name="date" type="text" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-6">
                                    <label>Фото</label>
                                    <input name="image" type="file" class="form-control s-mb_18" />
                                </div>
                            </div>
                            <label>Описание полное</label>
                            <textarea name="description_full" class="js-wysi form-control s-h_min_200 s-mb_9"></textarea>
                        </div>
                    </div>
                    <div class="form-actions">
                        <button data-bind="" type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div data-bind="if:items().length" class="col-md-6">
        <div class="portlet">
            <div class="portlet-title">
                <div class="caption">
                    <i class="fa fa-pencil"></i> Редактирование записи
                </div>
                <div class="tools">
                    <a href="" class="collapse" title="Скрыть/Показать"></a>
                    <a href="" class="fullscreen" title="расширить"></a>
                    <a href="" class="remove" title="Убрать">
                    </a>
                </div>
            </div>
            <div class="portlet-body form">
                <form method="post" enctype="multipart/form-data" accept-charset="utf-8" action="/editBlog.php">
                    <div class="form-body">
                        <div class="form-group">
                            <div class="row s-mb_9">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                    <label><i class="fa fa-home s-mr_5"></i>Выберите запись</label>
                                    <select data-bind="options: items, optionsText: 'name', value: selectedItem, event:{change:updateWysiwygObservable}" class="form-control"></select>
                                </div>
                            </div>
                            <label>Название</label>
                            <div class="input-icon s-mb_9">
                                <i class="fa fa-info-circle"></i>
                                <input data-bind="value:selectedItem().name, valueUpdate:'input'" name="edit-name" type="text" class="form-control" placeholder="Название" />
                                <input data-bind="value:selectedItem().id" name="edit-id" type="hidden" />
                            </div>
                            <label>Описание краткое</label>
                            <textarea data-bind="value:selectedItem().description" name="edit-description" class="form-control s-mb_9"></textarea>
                            <div class="row s-mb_9">
                                <div class="col-md-6">
                                    <label>Дата</label>
                                    <input data-bind="value:selectedItem().date" name="edit-date" type="text" class="form-control s-mb_9" />
                                </div>
                                <div class="col-md-6">
                                    <label>Фото</label>
                                    <input name="edit-image" type="file" class="form-control s-mb_18" />
                                </div>
                            </div>
                            <label>Описание полное</label>
                            <textarea data-bind="wysiwyg:wysiwygObservable" name="edit-description_full" class="form-control s-h_min_200 s-mb_9"></textarea>

                        </div>
                    </div>
                    <div class="form-actions">
                        <button type="submit" class="btn green">
                            <i class="fa fa-save"></i>&nbsp;Сохранить
                        </button>
                        <a href="javascript:void(0);" data-bind="click:removeItem" class="btn blue">
                            <i class="fa fa-times"></i>&nbsp;Удалить
                        </a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<!-- editing -->
@section scripts{
    <script type="text/javascript" src="~/Content/js/knockout.js"></script>
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script type="text/javascript" src="~/Content/js/tmce/tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/tmce/jquery.tinymce.min.js"> </script>
    <script type="text/javascript" src="~/Content/js/wysiwyg.js"> </script>
    <script type="text/javascript" src="~/Content/js/models/editModel.js"></script>
    <script type="text/javascript">
        EC.getData("blog", "all");
        tinymce.init({ selector: '.js-wysi',theme: "modern", language: "ru" });
    </script>
}
