﻿@{
    ViewBag.Title = "Загрузка дополнительных фоторгафий на страницу товара";
}
<link href="~/Content/css/uploadfile.css" rel="stylesheet">


<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12">
        <div id="multipleupload">Загрузка</div>
    </div>
</div>

@section scripts{
    <script type="text/javascript" src="~/Content/js/utils.js"></script>
    <script src="~/Content/js/jquery.uploadfile.min.js"></script>
    <script type="text/javascript">
        $("#multipleupload").uploadFile({
            url: "/upload.php",
            multiple: true,
            fileName: "myfile",
            formData: {
                directory:  document.location.hostname === "localhost"
                ? "I:/projects/fabdefense/fabdefense/fabdefense/Content/images/products/medium/" + document.location.search.substr(1) + "/"
                : "../Content/images/products/medium/" + document.location.search.substr(1) + "/"
            }
        });
    </script>
}