﻿<option value="643">РУБ</option>
<option value="840">USD</option>
<option value="978">EUR</option>
<option value="826">GBP</option>
<option value="124">CAD</option>
<option value="036">AUD</option>
<option value="756">CHF</option>