﻿<li class="start active open">
    <a href="javascript:;">
        <i class="icon-home"></i>
        <span class="title">Контент</span>
        <span class="selected"></span>
        <span class="arrow open"></span>
    </a>
    <ul class="sub-menu">
        <li class="open">
            <a href="javascript:;">
                <i class="icon-login"></i>
                <span class="title">Товары</span>
                <span class="arrow open"></span>
            </a>
            <ul class="sub-menu" style="display: block;">
                <li>
                    <a href="@Url.Action("index", "Home")">
                        <i class="icon-pencil"></i>
                        Редактировать
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="@Url.Action("Index", "blog")">
                <i class="icon-calculator"></i>
                <span class="title">Новости</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "about")">
                <i class="icon-bar-chart"></i>
                <span class="title">Контакты</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Category")">
                <i class="icon-bar-chart"></i>
                <span class="title">Категории</span>
            </a>
        </li>
        <li>
            <a href="@Url.Action("Index", "Whepons")">
                <i class="icon-bar-chart"></i>
                <span class="title">Орижие</span>
            </a>
        </li>
    </ul>
</li>